html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.logo{
    width: 250px;
    object-fit: contain;
    margin-bottom: 20px;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
    background-color: #e7e4ff;
    max-width: 450px;
    padding: 50px 20px;
    text-align: center;
    border-radius: 20px;
}

.content h1{
    font-size: 40px;
    color: rgb(61, 60, 60);
    margin-bottom: 50px;


}


.content p{
    font-size: 30px;
    color: rgb(71, 71, 71);
    line-height: 45px;
    margin-bottom: 50px;
}

.content form{
    display: flex;
    flex-direction: column;
}


input[type="email"]{
    padding: 22px 15px;
    border-radius:10px;
    font-size: 20px;
    color: rgb(80, 79, 79);
    border: none;
    margin-bottom: 30px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);;
}

.content button{
    padding: 20px 10px;
    border-radius:10px;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    background-color:  #7a1dd1;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.content button:hover{
    background-color: #561692;;
}